/*
    nav
    .index-title
    .index-discrible
    .add-task
    .content
        content-left
            search
        content-right
            content-action
            status-list
            brand
*/


body, div, nav, ul, li {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    background: url(../img/background.png) no-repeat 0 0;
    min-width: 1080px;
}

body::-webkit-scrollbar {
    width: 14px;
    background-color: #eee;
}

body::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 14px;
}

body::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 14px;
}

/*index*/
.index {
    margin: 0 20px;
    max-width: 1280px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


/*global*/
/*
*/
button, input {
    outline: none;
    border: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none
}

/*nav*/
nav {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 60px 0;
}

nav img {
    width: 42px;
    height: 36px;
    margin-right: 10px;
}

nav div {
    line-height: 22px;
    width: 66px;
    height: 23px;
    font-size: 22px;
    font-family: FZZongYi-M05S;
    font-weight: 400;
    color: rgba(250, 52, 85, 1);
}

/*nav end*/

.navigator {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navigator-menu {
    display: flex;
    margin: auto 0 auto 0;
}

.navigator-menu img {
    height: 19px;
    margin-left: 25px;
}

.index-title {
    width: 600px;
    height: 55px;
    font-size: 54px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 50px;
}

.index-discrible {
    width: 461px;
    height: 51px;
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 50px;
}

.add-task {
    padding-bottom: 50px;
}

.add-task button {
    width: 154px;
    height: 44px;
    background: #617AF1;
    border-radius: 32px;
    box-shadow: 0 8px 14px 4px rgba(80, 107, 240, 0.15);
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

/*end of head */


.content {
    max-width: 1280px;
    display: inline-flex;
    flex-direction: row;
}

.content-left {
    min-width: 700px;
    width: 73%;
    padding-right: 7%;
}

.content-right {
    min-width: 240px;
    width: 20%;
}


.search {
    width: calc(100% - 10px);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 32px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.search img {
    margin-top: 2px;
    padding: 8px;
    height: 20px;
    width: 20px;
}

.search input {
    width: 85%;
    margin-top: 2px;
    height: 40px;
    vertical-align: top;
    padding: 0 20px 0 20px;
    font-size: 16px;
}

.content-action {
    width: 100%;
}

.test-status {
    display: flex;
    justify-content: space-around;
    width: calc(100% - 32px);
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0 4px 32px 6px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.status {
    display: inline-flex;
    flex-direction: column;
    padding: 0 6px 6px 6px;
}

.status:hover:first-child {
    color: #526df0;
}

.status:hover {
    color: #da2811;
}

.status:hover:last-child {
    color: #ffcc40;
}

.status img {
    padding: 0 0 5px 0;
    width: 29px;
    margin: auto;
    height: 29px;
}

.status span {
    font-size: 14px;
    margin: auto;
}

.status-list {
    width: 100%;
    margin-top: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 32px 6px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 10px 0;
}

.status-list li {
    color: lightgrey;
    padding: 10px 20px;
}

.status-list li:hover {
    background-color: #f6f6f6;
}

.status-list img {
    width: 29px;
    height: 29px;
    padding-right: 30px;
}

.status-list span {
    vertical-align: top;
    font-size: 18px;
}


.brand {
    width: 230px;
    height: 45px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(187, 191, 204, 1);
    margin-top: 55px;
    padding-left: 30px;
}

.task-list {
    max-height: 600px;
    margin: 55px 0 20px 0;
    overflow: hidden;
    padding-right: 10px;
}

.task-list:hover{
    overflow-y: scroll;
    padding-right: 0;
}

.task-list::-webkit-scrollbar {
    width: 10px;
    background-color: #eee;
}

.task-list::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 10px;
}

.task-list::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
}


/*task-female背景红色*/
/*task beijingbaise*/
.task-female {
    width: calc(100% - 44px);
    display: inline-flex;
    flex-direction: row;
    padding: 22px;
    margin-bottom: 20px;
    background: rgba(250, 72, 102, 1);
    box-shadow: 0px 4px 32px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.task-female img {
    opacity: 0.4;
    height: 45px;
}

.icon {
    margin: auto;
}

.task-female-content {
    width: 75%;
}

.task-female-content .time {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 300;
    color: rgba(255, 254, 254, 1);
}

.task-female-content .title {
    font-size: 22px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.task-female-content .money {
    font-size: 22px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}


.task {
    width: calc(100% - 44px);
    display: inline-flex;
    flex-direction: row;
    padding: 22px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 32px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.task img {
    height: 45px;
}

.task-content {
    width: 75%;
}

.task-content .time {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 300;
    color: rgba(250, 72, 102, 1);
}

.task-content .title {
    font-size: 22px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(250, 72, 102, 1);
}

.task-content .money {
    font-size: 22px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(250, 72, 102, 1);
}


.task-male {
    width: calc(100% - 44px);
    display: inline-flex;
    flex-direction: row;
    padding: 22px;
    margin-bottom: 20px;
    background: rgba(97, 122, 241, 1);
    box-shadow: 0 4px 32px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.task-male img {
    opacity: 0.4;
    height: 45px;
}

.task-male-content {
    width: 75%;
}

.task-male-content .time {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 300;
    color: rgba(255, 254, 254, 1);
}

.task-male-content .title {
    font-size: 22px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(255, 254, 254, 1);
}

.task-male-content .money {
    font-size: 22px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(255, 254, 254, 1);
}