body {
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    background-color: rgb(253,253,254);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

button:focus {
    outline: none;
}

@font-face {
    /* font-properties */
    font-family: FZZYjianti;
    src:url('../font/FZZYjianti.TTF');
}

.posi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.reg-content {
    display: inline-block;
    margin:0% 5%;
    width: 90%;
    height: 70%;
    min-width: 1000px;
    min-height: 500px;
    background-color: rgb(253,253,254);
}
.nav{
    display: flex;
    flex-direction: row;
    margin:60px 12px 0 200px;
}

.nav img{
    width:60px;
    height:52px;
    margin-right: 10px;
}
.nav div{
    width:100px;
    height:27px;
    padding-top: 5px;
    font-size:30px;
    font-family: FZZYjianti;
    font-weight:400;
    color:rgba(80,107,240,1);
}
.reg-img {
    float: left;
    width: 50%;
    height: 90%;
    background: url(../img/register.png) -20px -40px no-repeat;
    background-size: 190%;
}

/*左图样式*/
.reg-form {
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
}

.reg-form div {
    display: block;
}

.title {
    height:47px;
    font-size:48px;
    /*text-align: center;*/
    padding-left: 320px;
    font-family:Microsoft YaHei;
    font-weight:300;
    color:rgba(80,107,240,1);
    line-height:51px;
    margin-bottom: 70px;
    letter-spacing:10.56pt;
}

/*表单标题*/
.form-posi {
    display: inline-block;
    margin:10px auto;
    width: 65%;
    height: 100%;
}

/*表单全局定位*/
.reg-input {
    height: 35px;
    width: 100%;
    margin-top: 20px;
    min-width: 420px;
}

/*输入块样式*/
.reg-input div {
    display: inline-block;
}

/*表单内都为块级*/
.reg-input input {
    float: right;
    height: 90%;
    width: 55%;
    margin-right: 19%;
    border: 1px solid grey;
    border-radius: 4px;
    padding-left: 15px;
    color: black;
    font-size: 13px;
    outline: none;
}

/*表单输入框样式*/
.user-name, .user-psd, .user-sex, .user-email, .user-tel, .check {

    font-size:18px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(0,0,0,1);
    line-height:38px;
    /*width: 80px;*/
    /*height: 16px;*/
    /*text-align: right;*/
}
.verity-patch{
    padding-left: 40px;
}

/*表单文字样式*/
.user-sex {
    margin-right: 5%;
}
.sex-text{
    font-size: 14px;
    margin-left: 15px;
}

.radio-sex {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.radio-sex input {
    float: none;
    height: 15px;
    width: 15px;
    margin: 0;
    padding: 0;
}

.notice {
    width: 100%;
    height: 12px;
    color: #888888;
}

/*表单提示信息文字样式*/
.notice-text {
    float: right;
    display: inline-block;
    width: 74%;
    font-size: 12px;
    height: 100%;
    min-width: 270px;
}

.check-button {
    float: right;
    width: 120px;
    height: 25px;
    margin-right: 185px;
    margin-left: 18px;
}

.check-button button {
    background: none;
    height: 35px;
    outline: none;
    border: 1px solid grey;
    color: grey;
    border-radius: 3px;
}

.User-item {
    padding-left: 135px;
    width: 100%;
    height: 100%;
}

.User-item input {
    float: none;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0;
    padding: 0;
}
.register-button{
    padding-left: 130px;
}
.register-button button {
    border: none;
    color: white;
    font-size: 16px;
    text-indent: 2px;
    font-weight: 500;
    width:330px;
    height:50px;
    background:rgba(80,107,240,1);
    border-radius:10px;
}