<!DOCTYPE html>
<html ng-app="app" lang="zh-cn">
<head>
	<title>发布任务</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/static/wui-date/css/wui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/css/add_task.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery.ajax.csrf.js"></script>
    <script src="/static/wui-date/js/angular.min.js"></script>
    <script src="/static/wui-date/js/wui-date.js"></script>
    <script src="/static/js/add_task.js"></script>
    <script>
        {#  发布任务时间输入组件  #}
        const app = angular.module('app', ["wui.date"]);
    </script>
</head>
<body>
    <div class="index">
        <div class="navigator">
           <nav  onclick="window.location.href='/'">
                <img alt="logo" src="/static/img/logo-red.png">
                <div>校园帮</div>
            </nav>
            <div class="navigator-menu">
                <img alt="user-icon" src="/static/img/user.svg" onclick="window.location.href='/user/user_info'">
                <img alt="menu-icon" src="/static/img/navigator.svg" onclick="window.location.href='/nav'">
            </div>
        </div>
        <div class="index-title">
            发布任务
        </div>
        <div class="index-discrible">
            遇到了小问题想寻求帮助？发布任务问问大家！
        </div>
        <div class="content">
            <div class="content-left">
            	<form>
            		<label for="task_theme">
            			标题
            		</label>
            		<input type="text" autocomplete="off" id="task_theme" maxlength="63">
            		<label for="task_detail">
            			任务详情
            		</label>
            		<textarea class="task-discrible" id="task_detail" maxlength="1023"></textarea>
            		<label for="task_price">
            			赏金
            		</label>
            		<input type="number" autocomplete="off" id="task_price" maxlength="5">
                    <label for="task_deadline">截止日期</label>
                    <wui-date class="task-deadline div-inline-block" format="yyyy-mm-dd hh:mm" placeholder="请选择或输入日期"
                              id="task_deadline" ng-model="task_deadline" position="top">
                    </wui-date>
                    <div class="submit-form">
            			<div class="limit" id="set_visible">
            				<span>公开</span>
            				<div class="icon-down"></div>
            			</div>
            			<button id="btn_add_task_submit">发布任务</button>
            		</div>
            		<div class="limit-select" id="visible_list">
            			<ul>
            				<li id="visible_all">
            					<img src="/static/img/public.png">
                                <span>公开</span>
            				</li>
            				<li id="visible_male">
            					<img src="/static/img/man.png">
                                <span>仅男生可见</span>
            				</li>
            				<li id="visible_female">
            					<img src="/static/img/woman.png">
                                <span>仅女生可见</span>
            				</li>
            			</ul>
            		</div>
            	</form>
            </div>
            <div class="content-right">
            	<div class="content-action">
                    <div class="test-status">
                        <div class="status" onclick="window.location.href='/create_task'">
                            <img src="/static/img/add-task.svg"/>
                            <span>发布任务</span>
                        </div>
                        <div class="status" onclick="window.location.href = '/user/user_info?task=true'">
                            <img src="/static/img/fb.png"/>
                            <span>我发布的</span>
                        </div>
                        <div class="status" onclick="window.location.href = '/user/user_info?accept_task=true'">
                            <img src="/static/img/my-task.svg"/>
                            <span>我领取的</span>
                        </div>
                    </div>
                    <div class="status-list">
                        <ul>
                            <li>
                                <img src="/static/img/collect02.png">
                                <span>我的收藏</span>
                            </li>
                            <li>
                                <img src="/static/img/histroy.png">
                                <span>我浏览过</span>
                            </li>
                            <li>
                                <img src="/static/img/service.png">
                                <span>联系客服</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="brand">
                    Copyright © 2019 39degrees. <br>All rights reserved.
                </div>
            </div>
        </div>
	</div>
</body>
</html>