<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>校园帮</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery.ajax.csrf.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<body>
    <div class="index">
        <div class="navigator">
           <nav  onclick="window.location.href='/'">
                <img alt="logo" src="/static/img/logo-red.png">
                <div>校园帮</div>
            </nav>
            <div class="navigator-menu">
                <img alt="user-icon" src="/static/img/user.svg" onclick="window.location.href='/user/user_info'">
                <img alt="menu-icon" src="/static/img/navigator.svg" onclick="window.location.href='/nav'">
            </div>
        </div>
        <div class="index-title">
            大学生校园生活互助平台
        </div>
        <div class="index-discrible">
            遇到了棘手问题，不知道该如何解决？来校园帮网站看看 即时发布任务，互帮互助，使您的校园生活更加便利安全。
        </div>
        <div class="add-task">
            <button onclick="window.location.href='/create_task'">发布任务</button>
        </div>
        <div class="content">
            <div class="content-left">
                <div class="search">
                    <form>
                        <label for="research_keyword">
                            <img alt="search-icon" src="/static/img/search.png" id="btn_research">
                        </label>
                        <input type="text" autocomplete="off" id="research_keyword">
                    </form>
                </div>
                <div id="task_list" class="task-list">
                </div>
            </div>
            <div class="content-right">
                <div class="content-action">
                    <div class="test-status">
                        <div class="status" onclick="window.location.href='/create_task'">
                            <img src="/static/img/add-task.svg"/>
                            <span>发布任务</span>
                        </div>
                        <div class="status" onclick="window.location.href = '/user/user_info?task=true'">
                            <img src="/static/img/fb.png"/>
                            <span>我发布的</span>
                        </div>
                        <div class="status" onclick="window.location.href = '/user/user_info?accept_task=true'">
                            <img src="/static/img/my-task.svg"/>
                            <span>我领取的</span>
                        </div>
                    </div>
                    <div class="status-list">
                        <ul>
                            <li>
                                <img src="/static/img/collect02.png">
                                <span>我的收藏</span>
                            </li>
                            <li>
                                <img src="/static/img/histroy.png">
                                <span>我浏览过</span>
                            </li>
                            <li>
                                <img src="/static/img/service.png">
                                <span>联系客服</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="brand">
                    Copyright © 2019 39degrees. All rights reserved.
                </div>
            </div>
        </div>
    </div>






</body>
</html>