<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/css/nav.css">
</head>
	<body>
		<div id="task-discription">
			<nav>
				<div  onclick="window.location.href='/'" style="cursor: pointer;display: inline-flex;align-items: center;">
					<img src="/static/img/logo-white.svg">
	            	<div class="text">校园帮</div>
				</div>
	            <div>
	            	<img src="/static/img/close-white.svg" class="nav-icon"  style="cursor: pointer;margin-top: -14px;" onclick="window.location.href='/create_task'">
	            </div>
	        </nav>
	        <div class="nav-list">
	        	 <ul>
	        	 	<li onclick="window.location.href='/user/user_info'">用户中心</li>
	        	 	<li>私信联系</li>
	        	 	<li>我的客服</li>
	        	 	<li>关于</li>
	        	 	<li onclick="window.location.href='/user/logout'">退出登录</li>
	        	 </ul>
	        </div>
	        <div class="brand">
	        	Copyright © 2019 39degrees.  <br>All rights reserved.
	        </div>
    	</div>
	</body>
</html>