<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>任务详情</title>
    <link rel="stylesheet" type="text/css" href="/static/css/global.css">
    <link rel="stylesheet" type="text/css" href="/static/css/task_sort.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <title></title>
    <script>
        $(document).ready(function () {
            let task_can_accept = '0';
            //请求任务信息
            $.post("/task_info", {task_id: getUrlParam("task_id")}, function f(data) {
                if (data[0].state === '0') {
                    $("#task_title").text(data[1].task_title);
                    $("#task_detail").text(data[1].task_detail);
                    $("#task_price").text(data[1].task_price);
                    $("#deadline").text(data[1].deadline);
                    $("#deadline_time").text(data[1].deadline_time);
                    getUserInfo(data[1].user_id);

                    task_can_accept = data[1].task_can_accept;
                    const btn_accept_task = $("#btn_accept_task");
                    btn_accept_task.attr('task_id', data[1].task_id);
                    btn_accept_task.attr('user_id', data[1].user_id);
                    if (task_can_accept === '1') {
                        btn_accept_task.hide();
                        $("#btn_enter_task").show();
                    } else if (task_can_accept === '2') {
                        btn_accept_task.hide();
                        $("#btn_evaluate_task").show();
                    } else if (task_can_accept === '3') {
                        btn_accept_task.hide();
                    } else if (task_can_accept === '-4') {
                        btn_accept_task.hide();
                    }
                }
            });

            $("#btn_accept_task").click(function () {
                if (task_can_accept === '0') {
                    if (confirm("确认领取该任务？")) {
                        $.post('/accept_task', {task_id: getUrlParam("task_id")}, function (data) {
                            if (data.state === '0') {
                                alert('任务领取成功。');
                                task_can_accept = '-3';
                                $("#btn_accept_task").hide();
                            }
                        });
                    }
                } else if (task_can_accept === '-1') {
                    alert("不能领取自己发布的任务哦。");
                } else if (task_can_accept === '-2') {
                    alert("很抱歉，您不符合该任务的性别要求。");
                } else if (task_can_accept === '-3') {
                    alert("很抱歉，该任务已被领取。");
                }
            });

            $("#btn_enter_task").click(function () {
                if (task_can_accept === '1') {
                    let evaluate = prompt("请对此次任务进行评价！(0-5)");
                    if (evaluate === '') {
                        evaluate = '5'
                    }
                    $.post('/enter_task', {task_id: getUrlParam("task_id"), evaluate: evaluate}, function (data) {
                        if (data.state === '0') {
                            alert('任务确认成功。');
                            task_can_accept = '-5';
                            $("#btn_enter_task").hide();
                        }
                    });
                } else {
                    alert("很抱歉，您不是该任务发布者，不能确认任务完成。");
                    $("#btn_enter_task").hide();
                    if (task_can_accept === '0') {
                        $("#btn_accept_task").show();
                    }
                }
            });

            $("#btn_evaluate_task").click(function () {
                let evaluate = prompt("请对此次任务进行评价！(0-5)");
                if (evaluate === '') {
                    evaluate = '5'
                }
                $.post("/evaluate_task", {task_id: getUrlParam("task_id"), evaluate: evaluate}, function f(data) {
                    if (data[0].state === '0') {
                        alert("任务评价成功。");
                    }
                });
            });

            $("#icon_personal").click(function () {
                window.location.pathname = '/user/user_info';
            });

            //获取用户信息
            function getUserInfo(user_id) {
                $.post("/user/user_info", {user_id: user_id}, function f(data) {
                    if (data[0].state === '0') {
                        $("#username_1").text(data[1].user_name);
                        $("#username_2").text(data[1].user_name);
                        $("#user_tel").text(data[1].user_tel);

                    }
                });
                $.post("/get_task_len", {user_id: user_id}, function f(data) {
                    if (data[0].state === '0') {
                        $("#task_len").text(data[1].task_length);
                        $("#accept_len").text(data[1].accept_length);

                    }
                });
                $.post("/get_evaluate", {user_id: user_id}, function (data) {
                    if (data[0].state === '0') {
                        $("#avg_evaluate").attr('title', '平均评分' + data[1].evaluate_avg + '星级');
                        $("#avg_evaluate").text(data[1].evaluate_avg);
                    } else {
                        alert(data[0].info + '   [' + data[0].state + ']');
                    }
                });
            }
        });

        function getUrlParam(name) {
            let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            let r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]);
            return null; //返回参数值
        }
    </script>
</head>
<body>
<nav class="nav-container">
    <!-- 导航栏 -->
    <div class="nav">
        <a class="nav-logo" href="/">
            <div class="nav-logo-img"></div>
            <div class="nav-logo-text text-size-one">
                校园帮
            </div>
        </a>
        <div class="nav-right"><!-- icon小图标 -->
            <div class="nav-right-icon nav-icon-notice"></div>
            <div class="nav-right-icon nav-icon-message"></div>
            <div class="nav-right-icon nav-icon-user" id="icon_personal"></div>
        </div>
    </div>
</nav>
<!-- 正文 -->
<div class="main">
    <div class="main-task display-inline-block-style">
        <!-- 任务模块 -->
        <div class="task-model">
            <!-- 任务模块标题 -->
            <div class="box-hr">
                <div class="text-size-two model-title-text display-inline-block-style" id="task_title">任务标题，加载中...</div>
                <button class="button-green display-inline-block-style" id="btn_accept_task">领取任务</button>
                <button class="button-green display-inline-block-style" style="display: none;" id="btn_enter_task">
                    确认完成
                </button>
                <button class="button-green display-inline-block-style" style="display: none;" id="btn_evaluate_task">
                    评价
                </button>
            </div>
            <!-- 任务模块个人信息 -->
            <div class="task-model-user display-inline-block-style">
                <img src="/static/img/head-portrait.png" class="task-model-user-img" width="200" height="200" alt="头像"/>
                <div class="task-model-user-name text-color-blue" id="username_1">发布者</div>
                <div class="task-model-user-icon">
                    <div class="task-model-icons task-model-user-icon-contacts display-inline-block-style"></div>
                    <!-- 样式：图标样式 图标短信样式 内联行样式 -->
                    <div class="task-model-icons task-model-user-icon-collect display-inline-block-style"></div>
                </div>
            </div>
            <!-- 任务模块文字 -->
            <div class="task-model-content display-inline-block-style font-size-four" id="task_detail">
                任务详情，加载中...
            </div>
            <!-- 任务模块图片 -->
            <div class="task-model-content-img">
                <img src="/static/img/task.jpg" alt="任务图片">
            </div>
            <!-- 任务模块底端图标 -->
            <div class="task-model-icon">
                <div class="text-color-red text-size-four float-right-style ">
                    <span class="time-text display-inline-block-style" id="deadline">1999.99.99</span>
                    <span class="display-inline-block-style" id="deadline_time">16时</span>
                </div>
                <img src="/static/img/time.png" class="display-inline-block-style task-model-icons float-right-style"
                     alt="时间标签">
                <span class="text-color-yellow text-size-four float-right-style price-text" id="task_price">10.00</span>
                <img src="/static/img/price.png" class="display-inline-block-style task-model-icons float-right-style"
                     width="" height="" alt="钱袋标签">
            </div>
        </div>
    </div>
    <div class="main-publisher display-inline-block-style">
        <div class="main-publisher-title box-hr">
            <span class=" text-size-three">关于发布者</span>
        </div>
        <div class="main-publisher-information box-hr">
            <img src="/static/img/head-portrait.png" class="main-publisher-user-img display-inline-block-style"
                 alt="头像"/>
            <div class="main-publisher-user-text display-inline-block-style">
                <span class="main-publisher-user-name  text-size-three" id="username_2">发布者</span>
                <span class="main-publisher-user-school  text-size-four" id="user_tel">Tel</span>
            </div>
        </div>
        <div class="main-publisher-task-history">
            <div class="task-history display-inline-block-style">
                <span class="text-color-grey text-size-four">已发布</span><br>
                <span id="task_len">0</span>
            </div>
            <div class="task-history display-inline-block-style">
                <span class="text-color-grey text-size-four">已领取</span><br>
                <span id="accept_len">0</span>
            </div>
            <div class="task-history display-inline-block-style">
                <span class="text-color-grey text-size-four">评分</span><br>
                <span id="avg_evaluate">0</span>
            </div>
            <div class="main-publisher-btn">
                <button class="publisher-btn publisher-btn-focus display-inline-block-style">
                    <img src="/static/img/add.png" alt="关注按钮" class="publisher-btn-icon-img"/>
                    关注他
                </button>
                <button class="publisher-btn publisher-btn-connect display-inline-block-style">
                    <img class="publisher-btn-icon-img" src="/static/img/connect.png" alt="私信按钮"/>
                    私信他
                </button>
            </div>
        </div>

    </div>
</div>
</body>
</html>