<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>任务详情</title>
    <link rel="stylesheet" type="text/css" href="/static/css/task-info.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            let task_can_accept = '0';
            let is_collected = 0;
            //请求任务信息
            $.post("/task_info", {task_id: getUrlParam("task_id")}, function f(data) {
                if (data[0].state === '0') {
                    $("#task_title").text(data[1].task_title);
                    $("#task_detail").text(data[1].task_detail);
                    $("#task_price").text(data[1].task_price);
                    $("#create_time").text(data[1].create_time);
                    is_collected = data[1].is_collected;
                    if (is_collected) {
                        $("#collect_btn").attr('src', '/static/img/star-light.png')
                    }
                    countDown(data[1].deadline);
                    getUserInfo(data[1].user_id);

                    task_can_accept = data[1].task_can_accept;
                    const btn_accept_task = $("#btn_accept_task");
                    btn_accept_task.attr('task_id', data[1].task_id);
                    btn_accept_task.attr('user_id', data[1].user_id);
                    if (task_can_accept === '0') {
                        btn_accept_task.show();
                    } else if (task_can_accept === '1') {
                        $("#btn_enter_task").show();
                    } else if (task_can_accept === '2') {
                        $("#btn_evaluate_task").show();
                    } else if (task_can_accept === '3') {
                        btn_accept_task.hide();
                    } else if (task_can_accept === '-1') {
                        $("#btn_delete_task").show();
                        $("#btn_set_task").show();
                    } else if (task_can_accept === '-4') {
                        btn_accept_task.hide();
                    }
                }
            });

            $("#user").click(function (event) {
                $("#user_info").show();
                event.stopPropagation();
            });

            $("body").click(function () {
                $("#user_info").hide();
            });

            $("#btn_set_task").click(function () {
                if (task_can_accept === '-1') {
                    window.location.href='/create_task?task_id='+getUrlParam("task_id");
                }
            });

            $("#btn_delete_task").click(function () {
                if (task_can_accept === '-1') {
                    if (confirm("确认删除该任务？")) {
                        $.post('/remove_task', {task_id: getUrlParam("task_id")}, function (data) {
                            if (data.state === '0') {
                                alert('任务删除成功。');
                                window.location.href='/user/user_info?task=true';
                            }
                        });
                    }
                }
            });

            $("#btn_accept_task").click(function () {
                if (task_can_accept === '0') {
                    if (confirm("确认领取该任务？")) {
                        $.post('/accept_task', {task_id: getUrlParam("task_id")}, function (data) {
                            if (data.state === '0') {
                                alert('任务领取成功。');
                                task_can_accept = '-3';
                                $("#btn_accept_task").hide();
                            }
                        });
                    }
                } else if (task_can_accept === '-1') {
                    alert("不能领取自己发布的任务哦。");
                } else if (task_can_accept === '-2') {
                    alert("很抱歉，您不符合该任务的性别要求。");
                } else if (task_can_accept === '-3') {
                    alert("很抱歉，该任务已被领取。");
                }
            });

            $("#btn_enter_task").click(function () {
                if (task_can_accept === '1') {
                    let evaluate = prompt("请对此次任务进行评价！(0-5)");
                    if (evaluate === '') {
                        evaluate = '5'
                    }
                    $.post('/enter_task', {task_id: getUrlParam("task_id"), evaluate: evaluate}, function (data) {
                        if (data.state === '0') {
                            alert('任务确认成功。');
                            task_can_accept = '-5';
                            $("#btn_enter_task").hide();
                        }
                    });
                } else {
                    alert("很抱歉，您不是该任务发布者，不能确认任务完成。");
                    $("#btn_enter_task").hide();
                    if (task_can_accept === '0') {
                        $("#btn_accept_task").show();
                    }
                }
            });

            $("#btn_evaluate_task").click(function () {
                let evaluate = prompt("请对此次任务进行评价！(0-5)");
                if (evaluate === '') {
                    evaluate = '5'
                }
                $.post("/evaluate_task", {task_id: getUrlParam("task_id"), evaluate: evaluate}, function f(data) {
                    if (data[0].state === '0') {
                        alert("任务评价成功。");
                    }
                });
            });

            $("#icon_personal").click(function () {
                window.location.pathname = '/user/user_info';
            });

            // 收藏或取消收藏
            $("#collect_btn").click(function () {
                $.post("/collect_task", {
                    task_id: getUrlParam("task_id"),
                    is_collected: is_collected
                }, function f(data) {
                    if (data[0].state === '0') {
                       if (is_collected) {
                           is_collected = 0;
                           $("#collect_btn").attr('src', '/static/img/discription-collect.png');
                       } else {
                           is_collected = 1;
                           $("#collect_btn").attr('src', '/static/img/star-light.png');
                       }
                    }
                });
            });

            function countDown(dateStr) {
                let nowtime = new Date();  //获取当前时间
                let endtime = new Date(dateStr);  //定义结束时间
                if (nowtime < endtime) {
                    setInterval(function () {
                        nowtime = new Date();  //获取当前时间
                        let lefttime = endtime.getTime() - nowtime.getTime();  //距离结束时间的毫秒数
                        let leftd = Math.floor(lefttime / (1000 * 60 * 60 * 24));  //计算天数
                        let lefth = Math.floor(lefttime / (1000 * 60 * 60) % 24);  //计算小时数
                        let leftm = Math.floor(lefttime / (1000 * 60) % 60);  //计算分钟数
                        let lefts = Math.floor(lefttime / 1000 % 60);  //计算秒数
                        $("#count_down_days").text(leftd);
                        $("#count_down_hours").text(lefth);
                        $("#count_down_minutes").text(leftm);
                    }, 1000);
                } else {
                    alert("该任务已过截止时间。");
                }
            }

            //获取用户信息
            function getUserInfo(user_id) {
                $.post("/user/user_info", {user_id: user_id}, function f(data) {
                    if (data[0].state === '0') {
                        $("#username_1").text(data[1].user_name);
                        $("#username_2").text(data[1].user_name);
                        $("#user_tel").text(data[1].user_tel);

                    }
                });
                $.post("/get_task_len", {user_id: user_id}, function f(data) {
                    if (data[0].state === '0') {
                        $("#task_len").text(data[1].task_length);
                        $("#accept_len").text(data[1].accept_length);

                    }
                });
                $.post("/get_evaluate", {user_id: user_id}, function (data) {
                    if (data[0].state === '0') {
                        $("#avg_evaluate").attr('title', '平均评分' + data[1].evaluate_avg + '星级');
                        $("#avg_evaluate").text(data[1].evaluate_avg);
                    } else {
                        alert(data[0].info + '   [' + data[0].state + ']');
                    }
                });
            }
        });

        function getUrlParam(name) {
            let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            let r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]);
            return null; //返回参数值
        }
    </script>
</head>
<body>
<div id="task-discription">
    <div class="navigator">
        <nav onclick="window.location.href='/'">
            <img alt="logo" src="/static/img/logo-red.png">
            <div>校园帮</div>
        </nav>
        <div class="navigator-menu">
            <img alt="user-icon" src="/static/img/user.svg" onclick="window.location.href='/user/user_info'">
            <img alt="menu-icon" src="/static/img/navigator.svg" onclick="window.location.href='/nav'">
        </div>
    </div>
    <div class="task">
        <div class="task-content">
            <div class="title" id="task_title">任务标题，加载中...</div>
            <div class="body">
                <div class="discrible-title">
                    <div class="user" id="user">
                        <img src="/static/img/picture-girl.svg">
                        <div class="text"><span id="username_1">发布者</span><span id="create_time"></span></div>
                    </div>
                    <div class="value">
                        <div class="text" id="task_price">10.00</div>
                        <img src="/static/img/discription-money.svg">
                    </div>
                </div>
                <div class="discription" id="task_detail">
                    任务详情，加载中...
                </div>
                <div class="discription-foot">
                    <img src="/static/img/discription-collect.png" style="cursor: pointer;" id="collect_btn">
                </div>
                <div class="user-info" style="display: none;" id="user_info">
                    <div class="user-">
                        <img src="/static/img/picture-girl.svg"/>
                        <div class="user-name" id="username_1">发布者</div>
                    </div>
                    <div class="user-info-foot">
                        <button class="focuse-on">
                            <img src="/static/img/focus-on.png"/>
                            关注
                        </button>
                        <button class="connect-to">
                            <img src="/static/img/connect-to.svg"/>
                            私信
                        </button>
                    </div>
                </div>
            </div>
            <div class="accept-task">
                <button style="display: none;" id="btn_accept_task">领取任务</button>
                <button style="display: none;" id="btn_set_task">更改信息</button>
                <button style="display: none;" id="btn_delete_task">删除任务</button>
                <button style="display: none;" id="btn_enter_task">确认完成</button>
                <button style="display: none;" id="btn_evaluate_task">评价</button>
            </div>
        </div>
        <div class="temp">
            <img src="/static/img/rwxq.png" style="width: 100%;">
            <div class="cards">
                <div class="time-card">
                    <div class="card-title">
                        DAYS
                    </div>
                    <div class="card-value" id="count_down_days">
                        00
                    </div>
                </div>
                <div class="time-card">
                    <div class="card-title">
                        HOURS
                    </div>
                    <div class="card-value" id="count_down_hours">
                        00
                    </div>
                </div>
                <div class="time-card">
                    <div class="card-title">
                        MINUTES
                    </div>
                    <div class="card-value" id="count_down_minutes">
                        00
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>