<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>个人中心</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/user_center.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            getUserInfo();

            if (getUrlParam('accept_task')) {
                showAcceptTaskCenter();
            }

            if (getUrlParam('task')) {
                showTaskCenter();
            }

            $.post("/get_evaluate", {}, function (data) {
                if (data[0].state === '0') {
                    $(".star").attr('title', '平均评分' + data[1].evaluate_avg + '星级');
                    for (let i = 1; i <= 5; i++) {
                        if (data[1].evaluate_avg > i - 0.5) {
                            $("#star_" + i).attr('src', '/static/img/star-light.png');
                        }
                    }
                } else {
                    alert(data[0].info + '   [' + data[0].state + ']');
                }
            });

            $("#btn_user_info").click(function () {
                $("#btn_user_info").css("font-weight", "600");
                $("#btn_task_center").css("font-weight", "400");
                $("#btn_my_wallet").css("font-weight", "400");
                $("#user_info").show();
                $("#task_center").hide();
                $("#my_wallet").hide();
            });

            $("#btn_task_center").click(function () {
                $("#btn_user_info").css("font-weight", "400");
                $("#btn_task_center").css("font-weight", "600");
                $("#btn_my_wallet").css("font-weight", "400");
                showTaskCenter();
            });

            $("#btn_my_wallet").click(function () {
                $("#btn_user_info").css("font-weight", "400");
                $("#btn_task_center").css("font-weight", "400");
                $("#btn_my_wallet").css("font-weight", "600");
                $("#my_wallet").show();
                $("#user_info").hide();
                $("#task_center").hide();
            });

            $("input").each(function () {
                $(this).attr("disabled", "disabled")
            });

            $("#btn_save").css('background', 'lightgray');
            $("#btn_save").attr("disabled", "disabled");
            $("#btn_edit").click(function () {
                $("#btn_edit").css('background', 'lightgray');
                $("#btn_save").css('background', '#506bf0');
                $("#btn_edit").attr("disabled", "disabled");
                $("#btn_save").removeAttr("disabled", "");
                $("input").each(function () {
                    $(this).removeAttr("disabled", "")
                });
            });

            $("#btn_save").click(function () {
                $("#btn_edit").css('background', '#506bf0');
                $("#btn_save").css('background', 'lightgray');
                $("#btn_edit").removeAttr("disabled", "");
                $("#btn_save").attr("disabled", "disabled");
                $("input").each(function () {
                    $(this).attr("disabled", "disabled")
                });
                $.post('/user/set_info',
                    {
                        username: $("#username").val(),
                        tel: $("#tel").val(),
                        email: $("#email").val()
                    },
                    function (data) {
                        alert(data.info + '   [' + data.state + ']');
                        if (data.state !== '0') {
                            getUserInfo();
                        }
                });
            });

            $("#add_price").click(function () {
                let price = prompt("请输入您的充值金额（正整数）。");
                $.post("add_price", {price: price}, function (data) {
                    if (data.state === '0') {
                        alert("充值成功");
                        getUserInfo();
                    } else {
                        alert(data.info + '   [' + data.state + ']');
                    }
                });
            });

            $("#btn_accept_list").click(function () {
                showAcceptTaskCenter();
            });

            function showAcceptTaskCenter() {
                getMyAcceptTaskInfo();
                getTaskLen();
                $("#btn_task_list").removeClass("selected");
                $("#btn_accept_list").addClass("selected");
                $("#task_center").show();
                $("#user_info").hide();
                $("#my_wallet").hide();
            }

            $("#btn_task_list").click(function () {
                showTaskCenter();
            });

            function showTaskCenter() {
                getMyTaskInfo();
                getTaskLen();
                $("#btn_task_list").addClass("selected");
                $("#btn_accept_list").removeClass("selected");
                $("#task_center").show();
                $("#user_info").hide();
                $("#my_wallet").hide();
            }

            function getUserInfo() {
                $.post('/user/user_info', {}, function (data) {
                    if (data[0].state === '0') {
                        $("#nav_username").text(data[1].user_name);
                        $("#username").val(data[1].user_name);
                        $("#tel").val(data[1].user_tel);
                        $("#email").val(data[1].user_email);
                        $("#user_price").text("账户余额：" + data[1].user_price + "元");
                    } else {
                        alert(data[0].info + '   [' + data[0].state + ']');
                    }
                });
            }

            function getMyTaskInfo() {
                $.post('/get_my_task', {}, function (data) {
                    if (data[0].state === '0') {
                        $("#my_task_list").empty();
                        $.each(data[1], function (i, item) {
                            let state = "";
                            if (item.task_status === 0) {
                                state = "待领取";
                            } else if (item.task_status === 1) {
                                state = "待完成";
                            } else if (item.task_status === 2) {
                                state = "完成";
                            } else if (item.task_status === 3) {
                                state = "已过期";
                            } else if (item.task_status === -1) {
                                state = "锁定";
                            }

                            let html = "<div class='task-row' onclick='window.location.href=\"/task_info?task_id=" + item.task_id + "\"'>\n" +
                                "<div class='title-content'>" + item.task_title + "</div>\n" +
                                "<div class='money-content'>" + item.task_price + "</div>\n" +
                                "<div class='time-content'>" + item.create_time + "</div>\n" +
                                "<div class='accept-content'>" + state + "</div>\n" +
                                "</div>\n" +
                                "<div class='showdow-' style='background-color:#A2DECE;'></div>\n"
                            $("#my_task_list").append(html);
                        });

                    } else {
                        alert(data[0].info + '   [' + data[0].state + ']');
                    }
                });
            }

            function getMyAcceptTaskInfo() {
                $.post('/get_my_accept_task', {}, function (data) {
                    if (data[0].state === '0') {
                        $("#my_task_list").empty();
                        $.each(data[1], function (i, item) {
                            let state = "";
                            if (item.task_status === 0) {
                                state = "待领取";
                            } else if (item.task_status === 1) {
                                state = "待完成";
                            } else if (item.task_status === 2) {
                                state = "完成";
                            } else if (item.task_status === 3) {
                                state = "已过期";
                            } else if (item.task_status === -1) {
                                state = "锁定";
                            }

                            let html = "<div class='task-row' onclick='window.location.href=\"/task_info?task_id=" + item.task_id + "\"'>\n" +
                                "<div class='title-content'>" + item.task_title + "</div>\n" +
                                "<div class='money-content'>" + item.task_price + "</div>\n" +
                                "<div class='time-content'>" + item.create_time + "</div>\n" +
                                "<div class='accept-content'>" + state + "</div>\n" +
                                "</div>\n" +
                                "<div class='showdow-'></div>\n"
                            $("#my_task_list").append(html);
                        });

                    } else {
                        alert(data[0].info + '   [' + data[0].state + ']');
                    }
                });
            }

            function getTaskLen() {
                $.post("/get_task_len", {}, function f(data) {
                    if (data[0].state === '0') {
                        $("#task_len").text(data[1].task_length);
                        $("#accept_len").text(data[1].accept_length);

                    }
                });
            }
        });

        function getUrlParam(name) {
            let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            let r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]);
            return null; //返回参数值
        }
    </script>
</head>
<body>
<div id="task-discription">
    <div class="navigator">
        <nav onclick="window.location.href='/'">
            <img alt="logo" src="/static/img/logo-red.png">
            <div>校园帮</div>
        </nav>
        <div class="navigator-menu">
            <img alt="user-icon" src="/static/img/user.svg" onclick="window.location.href='/user/user_info'">
            <img alt="menu-icon" src="/static/img/navigator.svg" onclick="window.location.href='/nav'">
        </div>
    </div>
    <div class="user-info">
        <div class="star">
            <img src="/static/img/star-dark.png" class="float-l" id="star_1">
            <img src="/static/img/star-dark.png" class="float-l" id="star_2">
            <img src="/static/img/star-dark.png" class="float-l" id="star_3">
            <img src="/static/img/star-dark.png" class="float-l" id="star_4">
            <img src="/static/img/star-dark.png" id="star_5">
        </div>
    </div>
    <div class="user-">
        <img src="/static/img/picture-girl.svg">
        <div class="user-name">
            Jenny
        </div>
        <div class="text">
            <div class="focus-on">
                关注1000
            </div>
            <div class="fans">
                粉丝2000
            </div>
        </div>
    </div>
    <div class="content">
        <div class="user-form">
            <div class="user-list">
                <div style="display: inline-block; vertical-align: top;">
                    <div class="personal" style="font-weight: 600;" id="btn_user_info">个人信息</div>
                    <div class="task" id="btn_task_center">任务中心</div>
                    <div class="purse" id="btn_my_wallet">我的钱包</div>
                </div>
                <img src="/static/img/1.png">
            </div>
            <div class="personal-info" id="user_info">
                <form>
                    <div class="title">
                        账户管理
                        <button id="btn_save">保存</button>
                        <button id="btn_edit" style="margin-right: 10px;">编辑</button>
                    </div>
                    <div class="input-">
                        <span>用户名:</span>
                        <input type="text" id="username"/>
                    </div>
                    <div class="input-">
                        <span>手机:</span>
                        <input type="number" id="tel"/>
                    </div>
                    <div class="input-">
                        <span class="move-one">邮箱:</span>
                        <input type="email" id="email"/>
                    </div>
                </form>
                <div style="margin-top: 40px">
                    <div class="title">
                        修改密码
                    </div>
                    <button onclick="window.location.href='/user/reset_password'">更改密码</button>
                </div>
            </div>

            <!-- end -->

            <div class="task-center" style="display:none;" id="task_center">
                <div class="title">
                    <div class="option selected" id="btn_task_list">我发出的任务(<span id="task_len"></span>)</div>
                    <div class="option" id="btn_accept_list">我领取的任务(<span id="accept_len"></span>)</div>
                </div>
                <div class="task-list">
                    <div class="head">
                        <div class="task-title">标题</div>
                        <div class="task-money">赏金</div>
                        <div class="task-time">时间</div>
                        <div class="task-status">状态</div>
                    </div>
                    <div class="task-info" id="my_task_list">

                    </div>
                </div>
            </div>


            <div class="my-purse" style="display:none" id="my_wallet">
                <div class="purse-title">我的钱包</div>
                <div class="purse-content">
                    <div class="text" id="user_price">
                        账户余额: 0元
                    </div>
                    <div class="button">
                        <button id="add_price">
                            点击充值
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>