<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>更改密码</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery.md5.js"></script>
    <script src="/static/js/jquery.ajax.csrf.js"></script>
    <script>
        $(document).ready(function () {
            //确认按钮点击
            $("#btn_submit").click(function () {
                if (isValid()) {
                    resetPsdAjax();
                }
            });

            function isValid() {
                if ($("#user_psd").val().trim().length === 0) {
                    $("#user_psd").focus();
                    alert("请输入旧密码！");
                    return false;
                }
                if ($("#new_psd").val().trim().length === 0) {
                    $("#new_psd").focus();
                    alert("请设置新密码！");
                    return false;
                }
                if ($("#new_psd").val().length != $("#new_psd").val().trim().length) {
                    $("#new_psd").focus();
                    alert("密码不能含有空格！");
                    return false;
                }
                if ($("#re_new_psd").val().trim().length === 0) {
                    $("#re_new_psd").focus();
                    alert("请确认密码！");
                    return false;
                }
                if ($("#new_psd").val() != $("#re_new_psd").val()) {
                    $("#re_new_psd").focus();
                    alert("两次密码输入不一致！");
                    return false;
                }
                return true;
            }

            function resetPsdAjax() {
                $.ajax({
                    url: "/user/reset_password",
                    data: {
                        password: $.md5($("#user_psd").val()),
                        new_password: $.md5($("#new_psd").val())
                    },
                    type: "post",
                    dataType: "json",
                    async: true,
                    success: function (data) {
                        if (data.state === '0') {
                            alert("密码更改成功！");
                            window.location.pathname = "/user/login";
                        } else {
                            alert(data.info + '   [' + data.state + ']');
                        }
                    },
                    error: function () {
                        alert("ajax error");
                    }
                });
            }
        });
    </script>
</head>
<body>
<div id="login">
    <div class="curtain" id="login_curtain">
    </div>
    <div class="modal-position login-shape" id="login_inner">
        <form>
            <div class="login-img">

            </div>
            <div class="login-title">
                更改密码
            </div>
            <div class="user-psd">
                <label for="user_psd">旧密码</label>
                <input type="password" maxlength="63" name="user_psd" id="user_psd">
            </div>

            <div class="user-psd">
                <label for="new_psd">新密码</label>
                <input type="password" maxlength="63" name="new_psd" id="new_psd">
            </div>
            <div class="user-psd">
                <label for="re_new_psd">确认密码</label>
                <input type="password" maxlength="63" name="re_new_psd" id="re_new_psd">
            </div>
            <button class="login-btn" type="button" id="btn_submit">
                确认
            </button>
        </form>
    </div>
</div>
</body>
</html>

