<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>找回密码</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery.md5.js"></script>
    <script src="/static/js/jquery.ajax.csrf.js"></script>
    <script>
        $(document).ready(function () {
            //确认按钮点击
            $("#btn_submit").click(function () {
                if (isValid()){
                    resetPsdAjax();
                }
            });


            $("#btn_identity").click(function () {
                if ($("#user_tel").val().trim().length === 0) {
                    $("#user_tel").focus();
                    alert("请输入您的手机号！");
                } else {
                    $.ajax({
                        url: "/user/identify_code",
                        data: {
                            tel: $("#user_tel").val()
                        },
                        type: "post",
                        dataType: "json",
                        async: true,
                        success: function (data) {
                            if (data.state === '0') {
                                alert("短信验证码已发送，请注意查收。");
                            } else {
                                alert(data.info + '   [' + data.state + ']');
                            }
                        },
                        error: function () {
                            alert("ajax error")
                        }
                    });
                }
            });

             function isValid() {
                if ($("#identify_code").val().trim().length === 0) {
                    $("#identify_code").focus();
                    alert("请输入验证码！");
                    return false;
                }
                if ($("#new_psd").val().trim().length === 0) {
                    $("#new_psd").focus();
                    alert("请设置新密码！");
                    return false;
                }
                if ($("#new_psd").val().length != $("#new_psd").val().trim().length) {
                    $("#new_psd").focus();
                    alert("密码不能含有空格！");
                    return false;
                }
                if ($("#re_new_psd").val().trim().length === 0) {
                    $("#re_new_psd").focus();
                    alert("请确认密码！");
                    return false;
                }
                if ($("#new_psd").val() != $("#re_new_psd").val()) {
                    $("#re_new_psd").focus();
                    alert("两次密码输入不一致！");
                    return false;
                }
                return true;
            }

            function resetPsdAjax() {
                $.ajax({
                    url: "/user/reset_password_by_phone",
                    data: {
                        identify_code: $("#identify_code").val(),
                        password: $.md5($("#new_psd").val())
                    },
                    type: "post",
                    dataType: "json",
                    async: true,
                    success: function (data) {
                        if (data.state === '0') {
                            alert("密码更改成功！");
                            window.location.pathname = "/user/login";
                        } else {
                            alert(data.info + '   [' + data.state + ']');
                        }
                    },
                    error: function () {
                        alert("ajax error");
                    }
                });
            }

        });
    </script>
</head>
<body>
    <div class="background">
        <div></div>
        <img src="/static/img/login-bk.png">
        <div class="left-text">
	    	Let’s start now!
	    </div>
    </div>
	<div class="nav">
		<img src="/static/img/logo-white.svg">
        <div>校园帮</div>
	</div>
	<div id="login">
	    <div class="modal-position login-shape">
		   <form>
            <div class="login-title">
                找回密码
            </div>
	            <div class="user-name">
                    <label for="user_tel">手机号：</label>
                    <input type="number" oninput="if( this.value.length > 11 )  this.value = this.value.slice(0,11)" name="user_tel" id="user_tel">
	            </div>
                <div class="user-name">
                    <label for="identify_code">验证码：</label>
                    <div>
                        <input type="text"style="width: 7em;"  maxlength="5" name="identify_code" id="identify_code">
                        <button type="button" style="margin-left: 20px;" id="btn_identity" class="check-button">发送验证码</button>
                    </div>
                </div>
                <div class="user-name">
                    <label for="user_psd">新密码：</label>
                    <input type="password" maxlength="63" name="new_psd" id="new_psd">
                </div>
                <div class="user-name">
                    <label for="user_psd">确认密码:</label>
                    <input type="password" maxlength="63" name="re_new_psd" id="re_new_psd">
                </div>
                <button class="login-btn" type="button" id="btn_submit">
                    确认
                </button>
            </div>
        </form>
        </div>
	</div>

</body>
</html>

















